---
# Requer o metrics-server instalado. Comando: minikube addons enable metrics-server
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: flask-hostname-hpa
  namespace: flask-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: flask-hostname  # Deployment que será escalado
  minReplicas: 1  # Número mínimo de réplicas
  maxReplicas: 10  # Número máximo de réplicas
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50  # Escala quando CPU média passar de 50%
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80  # Escala quando memória média passar de 80%
  # # Comportamento de escalonamento (opcional)
  # behavior:
  #   scaleUp:
  #     stabilizationWindowSeconds: 60  # Tempo de estabilização antes de escalar para cima
  #     policies:
  #       - type: Percent
  #         value: 100  # Dobra o número de pods
  #         periodSeconds: 10
  #   scaleDown:
  #     stabilizationWindowSeconds: 30  # Tempo de estabilização antes de escalar para baixo
  #     policies:
  #       - type: Percent
  #         value: 50  # Reduz pela metade o número de pods
  #         periodSeconds: 10
