---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: getting-started-hpa
  namespace: getting-started
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: getting-started-deployment
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50  # Escala quando CPU média passar de 50%
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 50  # Escala quando memória média passar de 50%
